name: CI

on:
  - pull_request
  - push

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        ocaml-version:
          - 4.11.1
          - 4.10.2
          - 4.09.1

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Use OCaml ${{ matrix.ocaml-version }}
        uses: avsm/setup-ocaml@v1
        with:
          ocaml-version: ${{ matrix.ocaml-version }}
      - name: Install XQuartz on macOS
        if: runner.os == 'macOS'
        run: brew cask install xquartz
      - run: opam pin add graphics.dev . --no-action
      - run: opam depext graphics --yes
      - run: opam install . --deps-only
      - run: opam exec -- dune build @install
      - run: opam exec -- dune runtest
